# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.egg-info/
.eggs/
*.egg
*.log

# Environments
.env
*.env

# Virtualenv
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Wallet data
wallets.txt

# pyenv
.python-version

# Other project-specific files
.DS_Store
Thumbs.db

# Ignore IDE config files
.vscode/
.idea/
